
{% extends "base.html" %}

{% block content %}
<h3 style="margin-top: 40px;">Username: {{ current_user.username }}  </h3>
<h3>Account Number: {{account.account_number}}</h3>
<h3 style="margin-bottom: 40px;">Balance: {{account.balance}}</h3>


<button type="submit" class="btn btn-success"><a style = "color: white; text-decoration: none;" href="/requests">Deposit</a></button>
<button type="submit" class="btn btn-success"><a style = "color: white; text-decoration: none;" href="/requests">Withdrawn</a></button>


<div class="container mt-5">
        <div>
        <h1>Requests Table</h1>
        <form method="POST" action="">
      {{ form.csrf_token }}
      <label for="{{ form.from_date.id }}">From Date:</label>
      {{ form.from_date }}
      <br>
      <label for="{{ form.to_date.id }}">To Date:</label>
      {{ form.to_date }}
      <br>
      {{ form.submit() }}
    </form>
        
        </div>

        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Account Number</th>
                    <th>Request Type</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            {% for request in requests %}
            <tbody>
                <tr>
                    <td>{{ request.transanct_date}}</td>
                    <td>{{request.account_number}}</td>
                    <td>{{request.request_type}}</td>
                    <td>{{request.amount}}</td>
                    <td>{{request.status}}</td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}